body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  border-bottom: 1px #ccc solid;
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/66/33/90/1000_F_266339022_WXAMVBMDBlGeO1cWeXOgkpzbnZR1ca4y.jpg");
  padding: 1rem;
  /* display: flex; */
  justify-content: space-between;
}

header h1 {
  display: inline-flex;
  line-height: 1;
  font-family: Verdana;
  margin-left: 8vw;
  font-size: 50px;
  color: rosybrown;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

header img {
  width: 100px;
  height: auto;
  /* display: flex; */
}

.quiz-list h2 {
  font-size: 40px;
  font-family: Verdana;
  line-height: 1;
  color: palegoldenrod;
  margin-left: 20px;
  width: 100%;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.quiz-list ul {
  margin: 0.5rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  background-color: bisque;
  height: 25px;
  /* float: inline-end; */
}

.quiz-list {
  display: flex;
  flex-wrap: wrap;
}

.quiz-list-container{
  background-color: #8A3D75;
  height: 400px;
}

.quiz-question{
  background-color: #8A3D75;
  height: 400px;
  width: 100%;
  display: inline-block;
}

.leaders-link {
  margin: 0.5rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid darkblue;
  width: 130px;
  background-color: plum;
  height: 25px;
  font-size: 17px;
  font-family: verdana;
  display: inline-block;
}

.home-link {
  /* display: inline-block; */
  margin: 0.5rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid darkblue;
  width: 110px;
  background-color: plum;
  height: 25px;
  font-size: 17px;
  font-family: Verdana;
  display: inline-block;
}

.results-container{
  background-color: #8A3D75;
  height: 400px;
  display: flex;
}
.results h2 {
  margin-top: 20px;
  font-size: 50px;
  font-family: Verdana;
  color: palegoldenrod;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.results p {
  font-size: 25px;
  text-align: center;
  font-family: Verdana;
  color: plum;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.results {
  width: 75%;
  height: 75%;
  background-color: paleturquoise;
  margin-left: 10vw;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 0 40px 0 #000;
  border-radius: 15px;
}

.results form {
  display: flex;
  flex: wrap;
  width: 258px;
  margin: auto;
}

.answers-buttons {
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 10px;
}

.results-button {
  margin-top: 30px;
  margin-left: 45vw;
}

h1 {
  margin: 30px;
}

.questions-answers {
  width: 70%;
  text-align: justify;
  box-shadow: 0 0 20px 0 #000;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 30px;
  padding-bottom: 20px;
  background-color: paleturquoise;
  margin-left: 14vw;
}
.questions-correct {
  width: 70%;
  text-align: justify;
  box-shadow: 0 0 20px 0 rgb(0, 145, 0);
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 30px;
  padding-bottom: 20px;
  background-color: paleturquoise;
  margin-left: 14vw;
}
.questions-wrong {
  width: 70%;
  text-align: justify;
  box-shadow: 0 0 20px 0 rgb(145, 0, 0);
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 30px;
  padding-bottom: 20px;
  background-color: paleturquoise;
  margin-left: 14vw;
}
.highscore {
  text-align: center;
}
.highscoreimg {
  display: block;
  margin: auto;
  width: 40%;
}

.tableDiv {
  display: inline-block; 
  background-image: url("http://www.clipartsuggest.com/images/679/award-plaques-clipart-plaque-clipart-HThLrq-clipart.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 600px;
  height: 450px;
  margin-left: 28vw;
  margin-top: 40px;
  
}

.tableDiv h1{
  margin-left: 100px;
  margin-top: 40px;
  color: #CB7F7F;
  font-family: 'American Typewriter';
  margin-bottom: 10px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
  -1px -1px 0 #000;

}

.tableDiv table{
  margin-left: 75px;
  font-family: 'American Typewriter';
  font-size: 18px;
  color: #CB7F7F;
  
}
